<div class="content">
  <div class="map">
    <%= image_tag("map.jpg")%>
  </div>
  <div class="contacts">
    <strong>Наш магазин:</strong> <br>
    г. Харьков, ТЦ "Барабашово", <br>
    торговая площадка "Новый Век", <br>
    магазин #BKN-411 <br>
    Тел.: +38(063) 276 52 62 <br>
    Оксана
	<br><br><br>
	<strong>Отдел продаж:</strong><br>
	Тел.: +38(063) 425 85 67 <br>
	Email: hudoley_mn@variator.ua <br>
	Михаил
  </div>



</div>