<div class="content">
  <div class="contacts">
    <h4> Шоурум: </h4>
    <p> Украина, г.Харьков, наб. Крупской 3 </p>
	<p> Время работы: с 9:00 до 18:00 Пн-Пт. </p>
	<p> тел/факс: +38 (057) 738 31 74</p>
    <p> моб.: +38 (099) 117 09 78 </p>
	<p> моб.: +38 (097) 418 60 42 </p>
	<p> email: kor4agina_n@mail.ru </p>
	<p> Корчагина Надежда </p>
    
    <br>
    <h4> Наш магазин: </h4>
    <p> г. Харьков, ТЦ "Барабашово" </p>
    <p> торговая площадка "Новый Век" </p>
    <p> магазин #BKN-411 </p>
    <p> моб.: +38 (063) 276 52 62 </p> 
	<p> Шемаева Оксана </p>
    <div class="map"> <%= image_tag("map.jpg")%> </div>
	<br>
    <h4> Мы в интернете: </h4><br>
	<p><center><%= link_to image_tag("vk.png"), "http://vkontakte.ru/club32644609" %>    <%= link_to image_tag("ok.png"), "http://www.odnoklassniki.ua/group/51868906684668/" %>    <%= link_to image_tag("khf.png"), "http://www.kharkovforum.com/showthread.php?t=2047234" %></center></p>
  </div>





 </div>