		<div class="content">
			<p>Теперь не нужно подбирать настроение под одежду,… можно делать все наоборот, … независимо от того какой Вы себя сегодня ощущаете – деловой, спортивной, креативной,
трендовой, сексуальной или элегантной. Любая женщина сможет наслаждаться своим настроением, подчеркивая его великолепными эксклюзивными моделями коллекции от ТМ «Ри Мари».
</p>
			<div class="video" id='mediaplayer'>
				
				<div class="images" style="height:375px;">
				<ul>
					<li><%= image_tag "slider/img_1.jpg" %></li>
					<li><%= image_tag "slider/img_2.jpg" %></li>
					<li><%= image_tag "slider/img_3.jpg" %></li>
				</ul>
				</div>
				
			</div>
			<p> Вдохновением для создания моделей ТМ «Ри Мари» являются не
правила которые нам диктует модный гламур, а сама женщина…нежная, женственная,
непредсказуемая, деловая в одежде от ТМ «Ри Мари» Вы будете выглядеть великолепно
спеша на свидание, встречаясь с друзьями в кафе, задумчиво читая книжку на скамейке в
парке, опаздывая в театр или на родительское собрание, и в офисе, и в отпуске…
Конструктивные нюансы моделей от ТМ «Ри Мари» выделят Вас из общей массы и
придадут оригинальность образу, а пластичность трикотажа выгодно подчеркнет фигуру,
не оставив равнодушным противоположный пол.
Не бойтесь быть женственной и настоящей – это всегда модно…
Натуральные ткани, актуальные модели ТМ «Ри Мари» - это модно всегда!!!</p>
		</div>