<h1>Listing admin_categories</h1>
<ul>
<% Category.roots.each do |category| %>
  <li><%= category.name %></li>
  <% category.children.each do |child| %>
  <li>-- <%= child.name %> </li>
  <% end %>
<% end %>
</ul>