<div class="fields">
        <% if !f.object.new_record? %>
		  <%= f.object.category.name %>
		  <%= link_to_remove_fields "удалить", f %>
		<% else %>
          <%= f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, { :prompt => "Выберите:" }%>
          <%= link_to_remove_fields "удалить", f %>
		<% end %>
		<br/>
</div>