            
			<div class="sub_content2">
			    <% @products.each do |prod| %>
				<div class="catalog_item">
					<div></div>
					<p>#<%= prod.art %>             <%= prod.description %></p>
					<p>$<%= prod.price %></p>
				</div>
			  <% end %>
			</div>
		