            <div class="sub_content2">
				<div class="catalog_item">
					<div><img src="img/catalog_image1.jpg" alt=""></div>
					<p>Блузка красная</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image2.jpg" alt=""></div>
					<p>Юбка с высокой посадкой</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image1.jpg" alt=""></div>
					<p>Блузка красная</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image1.jpg" alt=""></div>
					<p>Блузка красная</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image2.jpg" alt=""></div>
					<p>Юбка с высокой посадкой</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image1.jpg" alt=""></div>
					<p>Блузка красная</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image1.jpg" alt=""></div>
					<p>Блузка красная</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image2.jpg" alt=""></div>
					<p>Юбка с высокой посадкой</p>
				</div>
				<div class="catalog_item">
					<div><img src="img/catalog_image1.jpg" alt=""></div>
					<p>Блузка красная</p>
				</div>
			</div>