<div class="pid">
				<div class="pid_image">
					<div class="pid_image_big"><img alt="" src="/pid_image.jpg"></div>
					<div class="pid_image_small">
						<ul>
							<li><a href=""><img alt="" src="/pid_image_small.jpg"></a></li>
							<li><a href=""><img alt="" src="/pid_image_small.jpg"></a></li>
							<li><a href=""><img alt="" src="/pid_image_small.jpg"></a></li>
							<li><a href=""><img alt="" src="/pid_image_small.jpg"></a></li>
						</ul>
					</div>
				</div>
				<div class="pid_details">
				
					<h1>Plate <i>#<%= @product.art %></i></h1>
					
					<div class="price">
						<span>Цена:</span> <b><%= @product.price %></b> грн
					</div>
					
					<div class="size">
						<label for="size">Размер:</label>
						<%= select_tag "size" , options_from_collection_for_select(@product.sizes, "id", "code") %> Таблица
					</div>
					
					<div class="quan">
						<label for="quan">Количество:</label>
						<input type="text" value="1" id="pid_color_quan" name="" size="2"><br>
						<input type="submit" align="center" value="Купить">
					</div>
					
					<div class="pid_description">
						<h2>Описание:</h2>
						<%= simple_format(@product.description) %>
					</div>
					
				</div>
			</div>


