<div class="footer">
			<div>2009 - <%= Date.today.year %> (с) ТМ «Ри Мари»</div>
			<ul>
				<li><%= link_to 'Главная', main_path %></li>
				<li><%= link_to 'Каталог', products_path %></li>
				<li><%= link_to 'Контакты', contacts_path %></li>
			</ul>
		</div>