		<div class="header">
			<div class="logo">
			    <%= link_to image_tag("logo.png", :border=>0), main_path %>
				<h1>SLoGaN</h1>
			</div>
			
			<div class="menu">
				<ul>
					<li><%= link_to '', main_path, :class => 'mnu_home active', :title => 'Главная' %></li>
					<li><%= link_to '', new_products_path, :class => 'mnu_catalog', :title => 'Каталог' %></li>
					<li><%= link_to '', contacts_path, :class => 'mnu_contacts', :title => 'Контакты' %></a></li>
				</ul>
			</div>
		</div>
