		<div class="header">
			<div class="logo">
			    <%= link_to image_tag("logo.png", :border=>0), main_path %>
				<h1>секрет обаяния</h1>
			</div>
			
			<div class="menu">
				<ul>
					<li><%= link_to '', main_path, :class => "mnu_home #{'active' if current_page?(:controller => 'static_pages', :action => 'main')}", :title => 'Главная' %></li>
					<li><%= link_to '', products_path, :class => "mnu_catalog #{'active' if params[:controller] == 'products'}", :title => 'Каталог' %></li>
					<li><%= link_to '', contacts_path, :class => "mnu_contacts #{'active' if current_page?(:controller => 'static_pages', :action => 'contacts')}", :title => 'Контакты' %></a></li>
				</ul>
			</div>
		</div>
