            <div class="sub_content1">
				<h2>Каталог</h2>
				<ul>
				    <% Category.all.each do |cat| %>
					<li><%= link_to "#{cat.name}", { :controller => "products", :action => "index", :category_id => cat.id} %></li>
					<% end %>
				</ul>
			</div>
			
			